NEXT_PUBLIC_SUPABASE_URL=https://afxdmhqjbdqsuepojobb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmeGRtaHFqYmRxc3VlcG9qb2JiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI5ODUwNTIsImV4cCI6MjA1ODU2MTA1Mn0.URWvuvRkfsltiOJhJ9zhYmeTBnfENOnXqHKOcm4LzBk